{{#if placeholder}}
<option
  value=""
  selected={{eq null value}}
  class="SimpleForm-select__placeholder">
  {{placeholder}}
</option>
{{/if}}
{{#each sortedContent key="@index" as |option|}}
  <option
    value={{get option optionValuePath}}
    selected={{eq (get option optionValuePath) value}}
    disabled={{get option optionDisabledKey}}>
    {{get option optionLabelPath}}
  </option>
{{/each}}