{{#simple-form user on-submit=(action "saveChanges") as |f|}}

  {{f.input "number" type="tel" placeholder="(•••) ••• ••••" label="Phone Number" hint="Your Phone Number"}}
  {{f.input "email" placeholder="user@example.com" label="Email Address"}}
  {{f.input "email" placeholder="Email" label="Email Address" disabled=true classNames="custom-class"}}

  {{f.submit "Create User"}}
{{/simple-form}}

<div>
  <h3>Form Values</h3>

  <dl>
    <dt>Email</dt>
    <dd>{{user.email}}</dd>

    <dt>Phone Number</dt>
    <dd>{{user.number}}</dd>
  </dl>
</div>
